[Unit]
Description=Voice Assistant service

[Service]
Requires=connectivity-manager.service audio-manager.service
Restart=always
RestartSec=1
Type=forking
ExecStart=/data/cppSample/startService.sh

[Install]
WantedBy=multi-user.target